body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

#headerStuff{
  display: flex;
  flex-direction: row;
}

#logo {
  width: 10%;
  height: 10%;
}

#title {
  display: flex;
  align-self: flex-end;
  font-family: 'Oswald', sans-serif;
  font-size: 250%;
  margin: 0;
}

#fixed{
  position: fixed;
  width: 100%;
  background: #F4F6F7;
}

#navigationBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #FFEC00;
  width: 100%;

}

.navButtons {
  padding: 0.75% 5% 0.5% 0.75%;
  font-size: 120%;
  font-family: 'Oswald', sans-serif;
}

#posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #F4F6F7; */
  padding-top: 14%;
}

#favoriteButton:hover{
  background: rgba(255, 217, 0, 0.603);
}

.postAuthor:hover{
  border: 2px solid darkgray;
}

.postAuthor {
  text-align: justify;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid gray;
  border-radius: 2%;
  padding: 1%;
  margin-top: 2%;
  font-size: 90%;
  font-family: 'Oxygen', sans-serif;
  background-color: white;
}

.postTitle{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 3% 0% 3% 0%;
  font-size: 150%;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  background-color: white;
}

.redditPost{
  width: 100%;
  height: 20%;
  align-self: center;
  padding: 2% 0% 0% 0%;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
}